@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Raleway:wght@700&family=Roboto:wght@700&display=swap');

/* 
font-family: 'Roboto', sans-serif
font-family: 'Inter', sans-serif;
@media screen and (min-width:768px) and (max-width:1199px){
    
  }
  
@media screen and (max-width:767px){
    
  }
*/

html, body {
    margin: 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* overflow: visible; */
    /* overflow-y: scroll; */
}

* {
    box-sizing: border-box;
  }
*:focus {
    outline: none;
}
button:focus {outline:0;}



/* -------------------- navbar ---------------------- */
.navbar{
    background-color: #ffffff;
    /* height: 10vh; */
}
.navbar-brand{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    color: whitesmoke !important;
    transition: .2s ease-in-out;
}
.navbar-brand:hover{
    color: #548ca8 !important;
}
.navbar-brand img{
    height: 50px;
    margin-right: 8px;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #333333 !important;
    transition: .2s ease-in-out;
}
.nav-link:hover{
    color: #5b6de7 !important;
}
.nav-link1{
    text-decoration: none;
    margin-right: 15px;
    padding: 8px 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white !important;
    background-color: #5b6de7;
    border: 4px solid #5b6de7;
    transition: .2s ease-in-out;
    border-radius:8px ;
}
.nav-link1:hover{
    background-color: transparent;
    color: #5b6de7 !important;
}

/* -------------------- sec 1 ----------------------- */
.sec1{
    min-height: 86vh;
    background-color: #eff0fd;
}
.sec1-inner{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1-l{
    /* background-color: wheat; */
    min-height: 86vh;
    flex-basis: 70%;
    position: relative;
}
.sec1-img1{
    position: absolute;
    top: 5%;
    left: 25%;
}
.sec1-img2{
    position: absolute;
    top: 11%;
    left: 0%;
}
.sec1-img3{
    position: absolute;
    top: 30%;
    left: 14%;
}
.sec1-img4{
    position: absolute;
    top: 35%;
    left: 40%;
}
.sec1-l h1{
    position: absolute;
    top: 78%;
    left: 14%;
    letter-spacing: 1.5px;
    font-size: 60px;
    color: #5b6de7;
}
.sec1-r{
    /* background-color: tomato; */
    min-height: 86vh;
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.sec1-r-box{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 4px 122px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(113px);
    border-radius: 10px;
    min-height:470px;
    width: 400px;
}
.sec1-r-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
.sec1-r-boxx{
    height: 100%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
    /* border-radius: 0px 6px; */
}

.sec1-r-bottom{
    width: 85%;
    margin: 0 auto;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sec1-r-bottom h3{
    letter-spacing: 1px;
    color: #384241;
    font-size: 18px;
}
.sec1-r-bottom h3 span{
    letter-spacing: 1px;
    color: #384241;
    font-size: 60px;
}
.sec1-r-bottom a{
    width: 100%;
    background-color: #5b6de7;
    text-decoration: none;
    height: 60px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
.sec1-slider{
    height: 120px;
    width: 100%;
    text-align: center;
    place-items: center;
    /* background: whitesmoke; */
}
.sec1-r h2{
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #384241;
    margin-top: 10px;
}

/* ---------------------- sec2 ----------------------- */
.sec2{
    min-height: 15vh;
    background-color: #1e1e1e;
}
.sec2-inner{
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec2-box{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec2-box h3{
    letter-spacing: 1.5px;
    font-size: 14px;
    color: white;
}

/* ---------------------- sec3 ----------------------- */
.sec3{
    min-height: 900px;
    background-color: #eff0fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec3 h2{
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-size: 36px;
    color: #384241;
}
.sec3 p{
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #878787;
    width: 60%;
    margin: 0% auto 2% auto;
    text-align: center;
}
.sec3-inner{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
}
 .sec3-box{
    width: 400px;
}
.sec3-box1{
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.sec3-box1-img1{
    position: absolute;
    top: 2%;
    left: 40%;
    z-index: 1;
}
.sec3-box1-img2{
    position: absolute;
    top: 40%;
    left: 5%;
}
.sec3-box2{
    /* background-color: violet; */
    min-height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style-type:none;
}
.sec3-box2 li{
    letter-spacing: 1.5px;
    font-size: 22px;
    color: #757575;
    transition: .2s ease-in-out;
    cursor: pointer;
    line-height: 70px;
}
.sec3-box2 li:hover{
    color: #5b6de7;
}
.sec3-box2-active{
    color: #5b6de7 !important;
}

.sec3-box3-inner{
    background: rgba(166, 234, 255, 0.46);
    border-radius: 52px;
    width: 80%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.sec3-box3-inner h2{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: left;
    font-size: 19px;
    color: #384241;
}
.sec3-box3-inner li{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #757575;
}

/* ---------------------- sec4 ----------------------- */
.sec4 {
    background: rgba(45, 201, 253, 0.1);
    min-height: 900px;
}

.sec4-wrapper {
    min-height: 900px;
    max-width: 1400px;
    word-wrap: break-word;
  }
  
  .sec4-wrapper,
  .sec4-container {
    margin: 0 auto;
  }
  
  .sec4-container {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    max-width: 1400px;
    min-height: 900px;
    line-height: 0;
  }
  
  .sec4-slideDiv,
  .sec4-controls {
    position: absolute;
  }
  
  .sec4-slideDiv,
  .sec4-slide {
    width: 100%;
    height: 100%;
  }
  
  .sec4-slide {
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec4-l{
    /* background-color: wheat; */
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-basis: 35%;
      height: inherit;
  }
  .sec4-l h1{
    letter-spacing: 1.5px;
    font-size: 36px;
    color: #384241;
  }
  .sec4-l p{
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
  }
  .sec4-r{
    /* background-color: indianred; */
    height: inherit;
    flex-basis: 65%;
    position: relative;
}
.sec4-img1{
    position: absolute;
    top: 8%;
    left: 40%;
}
.sec4-img2{
    position: absolute;
    top: 25%;
    left: 13%;
    z-index: 3;
}
.sec4-img3{
    position: absolute;
    top: 50%;
    left: 28%;
    z-index: 4;
}
.sec4-img4{
    position: absolute;
    top: 48%;
    left: 63%;
    z-index: 2;
}
  
  /* .sec4-slide:first-child {
  }
  
  .sec4-slide:nth-of-type(2) {
  }
  
  .sec4-slide:nth-of-type(3) {
  }
  
  .sec4-slide:last-child {
  } */
  
  .sec4-controls {
    top: 41%;
    right: 0%;
    padding: 0 15px;
    text-align: center;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .sec4-button { 
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease .2s;
  }
  
  .sec4-button:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .sec4-button {
    border: 1px solid #fff;
    opacity: .6;
    outline: none;
    background-color: #adb6f3;
  }
  
  .sec4-button:hover,
  .sec4-button:focus {
    opacity: 1;
  }
  
  .sec4-selected {
    background-color: #5b6de7;
  }

  /* ---------------------- sec5 ----------------------- */
.sec5{
    min-height: 900px;
    background-color: #eff0fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec5 h2{
    margin-top: 20px;
    letter-spacing: 1.5px;
    font-size: 36px;
    color: #384241;
}
.sec5 p{
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #878787;
    width: 60%;
    margin: 0% auto 2% auto;
    text-align: center;
}
.sec5-inner{
    /* background-color: wheat; */
    margin: 0px auto;
    max-width: 1200px;
    min-height: 600px;
    position: relative;
}
.sec5-img-1{
    position: absolute;
    top: 5%;
    left: 25%;
}
.sec5-img-2{
    position: absolute;
    top: 32%;
    left: 77%;
}
.sec5-img-3{
    position: absolute;
    top: 65%;
    left: 77%;
}
.sec5-img-4{
    position: absolute;
    top: 65%;
    left: 14%;
}
.sec5-img-5{
    position: absolute;
    top: 32%;
    left: 8.5%;
}
.sec5-img-l{
    position: absolute;
    top: 45%;
    left: 1%;
}
.sec5-img-r{
    position: absolute;
    top: 45%;
    right: 1%;
}
.sec5-img-h3{
    position: absolute;
    top: 65%;
    left: 28%;
}

/* ---------------------- footer ----------------------- */
.f{
    min-height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.f-inner{
    margin: 0 auto;
    max-width: 1400px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .f-box{
    /* background-color: wheat; */
    width: 350px;
    min-height: 320px;
}
.f-box:not(:last-child) {
    margin-right: 20px;
}
.f-boxx{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.f-box4{
    transform: translateX(-8%);
}
.f-box5{
    transform: translateX(8%);
}
.f-box h3{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    width: 85%;
    font-size: 12px;
    text-align: justify;
    color: #384241;
    line-height: 25px;
}
.f-box h4{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #5b6de7;
    line-height: 25px;
}
.f-box a{
    margin-top: 22px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #384241;
    line-height: 25px;
}
.f-box a:hover{
    color: #5b6de7;
}
.f-box-top{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.f-box-sm{
    margin-top: 0px !important;
}
.f-box-top a{
    cursor: pointer;
    padding-left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #90acf7;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}
.f-box-top a i{
    color: white;
    font-size: 16px;
}
.fa-instagram, .fa-facebook-square{
    transform: translateX(10%);
}
.f-box-top a:hover{
    background-color: #5b6de7;
}

.f-box input{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #384241;
    border: 1px solid #A0BCF8;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 250px;
    height: 50px;
}
.f-box button{
    width: 160px;
    height: 50px;
    background: #5B6DE7;
    border: 3px solid #5B6DE7;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-size: 12px;
    transition: .2s ease-in-out;
}
.f-box button a{
    text-decoration: none;
    color: white;
}
.f-box button a:hover{
    color: white;
}
.f-box button:hover{
    transform: scale(1.05);
}